.laptop {
  width: 100%;
  max-width: 1200px;
  position: absolute;
}

.laptop {
  width: 100%;
}

.content {
  position: absolute;
  width: 67.7%;
  height: 81.3%;
  /* background: #000; */
  color: white;
  top: 3.7%;
  left: 17.5%;
}
.content h2 {
  margin: auto;
  margin-top: 10%;
  animation: type 3s steps(16);
  overflow: hidden;
  white-space: nowrap;
  width: 16ch;
  border-right: 4px solid white;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 16ch;
  }
}

.text h2::before {
  border-right: 0px solid white;
}
