* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner_image {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 10%;
  margin: auto;
  /* float: right; */
  width: 50%;
}

.contain {
  position: absolute;
  top: 50%;
  left: 10%;
  position: relative;
  /* float: left; */
  width: 40%;
  align-items: center;
  /* background-color: red; */
  transform: translate(0, -50%);
}

/* .maincontain {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
} */

.contain h1 {
  font-size: 6vw;
  /* color: #43dde6; */
  width: 8ch;
  position: relative;
  color: #364f6b;
  -webkit-text-stroke: 0.3vw #213041;
}

.contain h1::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #43dde6;
  -webkit-text-stroke: 0vw #43dde6;
  border-right: 2px solid #43dde6;
  overflow: hidden;
  animation: textanimation 3s ease;
  animation-fill-mode: forwards;
}

@keyframes textanimation {
  0% {
    width: 0;
    border-right: 2px solid #43dde6;
  }
  100% {
    width: 100%;
    border-right: 0px solid #43dde6;
  }
}

.contain h3 {
  font-size: 3vw;
  color: #f0f0f0;
}

.typing::after {
  content: "";
  position: absolute;
  border-left: 1px solid #f0f0f0;
  width: 1px;
  /* margin-left: 15px; */
  /* left: 0px; */
  /* right: -5px; */
  height: 4vw;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
